<% if (totalPages > 1) { %>

<nav aria-label="Page navigation example" class="pt30 mb0 trainers-pagination">
    <ul class="pagination pagination justify-content-center">
		<% 
		function getPageLink(page, isActive, linkClass, text){
			var activeClass = '';
			if(isActive){
				activeClass = 'active';
			}

			linkClass = linkClass || '';

			var aTag = '<a class="page-link" data-page-num="' + page + '">' + (text ||page) + '</a>';
			var liTag = '<li class="page-item ' + activeClass + ' ' + linkClass + '">' + aTag + '</li>';

			return liTag;
		}

		var showPages = 3;
		var downLimit;
		var topLimit;
		if (page<=3) {
			downLimit = 1;
		};
		if (totalPages-page<=showPages) {
			topLimit = totalPages+1;
		}
		%>
		<% if (page>showPages) { %>
			<%- getPageLink(1, false, 'first-page', '<<') %>
		<% } %>
		
		<% if (page != 1) { %>
			<%- getPageLink(page-1, false, 'prev-page', '<') %>		
		<% } %>

		<% if (page>showPages) { %>
		<li><span>...</span></li>
		<% } %>

		<% for(var k = (downLimit || page - showPages) ; k < (topLimit || page + showPages + 1); k++){ %>
			<%- getPageLink(k, k == page) %>		
		<% } %>

		<% if (totalPages-page>showPages) { %>
		<li><span>...</span></li>
		<% } %>

		<% if (page != totalPages) { %>
			<%- getPageLink(page+1, false, 'next-page', '>') %>		
		<% } %>

		<% if (totalPages-page>showPages) { %>
			<%- getPageLink(totalPages, false, 'last-page', '>>') %>		
		<% } %>
	</ul>
</nav>
<% } %>

<script type="text/javascript">
	(function() {
		const search = window.location.search.toString();
		let searchTemplate = search;
		console.log(search);
		if(searchTemplate.indexOf('page=') > -1){
			let pageStart = searchTemplate.indexOf('page=');
			if(searchTemplate[pageStart - 1] == '&'){
				pageStart --;
			}
			let pageEnd = searchTemplate.indexOf('&', pageStart + 1);
			if(pageEnd == -1){
				pageEnd = searchTemplate.length;
			}
			const pagePart = searchTemplate.slice(pageStart, pageEnd);
			searchTemplate = searchTemplate.replace(pagePart, '');
			if(searchTemplate[1] == '&'){
				searchTemplate = '?' + searchTemplate.substr(2);
			}
		}
		const linkTemplate = window.location.pathname + searchTemplate;
		$('.page-link').each(function() {
			const linkEl = $(this);
			const pageNum = linkEl.attr('data-page-num');
			linkEl.attr('href', linkTemplate + '&page=' + pageNum);
		});


		$('.trainers-pagination a')
		.click(function(event) {
			event.preventDefault();
			let linkEl = $(event.target);
			let linkHref = linkEl.attr('href');
			const resultQuery = linkHref.replace('/trainers?', '');

			//funciton is defined in script section on listing.ejs
			reloadData(resultQuery);
		})
	})();
</script>