<div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER 5.4.1 auto mode -->
    <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
        <ul>  
            <!-- SLIDE  -->
            <li data-index="rs-3045" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-title="Koszyk - podsumowanie" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="/images/foto/20.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption mainSlide-Title-Centered   tp-resizeme" 
                     id="slide-1706-layer-2"                      
                     data-x="['left','left','left','left']" data-hoffset="['30','15','15','15']" 
                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                     data-fontsize="['55','55','40','30']"
                     data-lineheight="['65','65','55','35']"
                     data-width="['800','700','621','420']"
                     data-height="none"
                     data-whitespace="normal"

                     data-type="text" 
                     data-responsive_offset="on" 
                     data-frames='[{"delay":800,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[10,10,10,10]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 6; text-align:center; max-width:1170px; white-space: normal;">Koszyk - podsumowanie</div>
            </li>                        
        </ul>
        <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>  </div>
</div><!-- END REVOLUTION SLIDER -->
<div class="container pb40 pt40">
    <% if(locals.cartMessage){%>
        <div class="alert alert-danger" role="alert">
            <%= locals.cartMessage %>
        </div>
    <%}%>
    <h4 class="font300 mb30">
        Podsumowanie koszyka:
    </h4>
    <table class="table table-condensed table-responsive cart-table mb40">
        <thead>
            <tr>
                <th>Produkt</th>
                <th>Cena</th>
                <th>Ilość</th>
                <th>Razem</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% let sum = 0; %>            
            <% for(let i = 0; i < locals.cartItems.length; i++) {%>
                <% let item = locals.cartItems[i]; sum += item.price;%>            
                <tr>
                    <% if(item.isFeedPlan){%>
                        <% let word = 'miesięcy'; %>
                        <% if(item.months < 6){word = 'miesiące';} %>
                        <% if(item.months == 1){word = 'miesiąc';} %>  
                        <td class="product-name">
                            Plan żywieniowy, abonament na <%= item.months %> <%= word %>
                            <% if(item.isWithConsulting){%>
                               <br/> <b>z codzienną konsultacją</b>
                            <%}%>
                            <br/>Cel: <b> <%= item.target.name %> </b>                            
                        </td>
                    <% }else{%>
                        <td class="product-name">
                            <%= item.name %>
                        </td>
                    <% } %>
                    <td class="product-price"><%= item.price %> zł</td>
                    <td class="product-quantity">
                        1
                    </td>
                    <td class="product-total">
                        <%= item.price %> zł
                    </td>
                    <td class="product-delete">
                        <form action="/removeItemFromCart" method="POST">
                            <% if(item.isFeedPlan){%>
                                <input type="hidden" name="feedPlan" value="<%- item.id %>">
                            <% }else{%>
                                <input type="hidden" name="trainingPlan" value="<%- item.id %>">
                            <% } %>
                            <a onclick="submitForm(event)" 
                            href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Usuń produkt z koszyku"><i class="fa fa-times"></i></a>
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <hr class="mb40" />
    <div class="row">
        <div class="col-sm-6">
            <a href="/" class="btn btn-outline-secondary">Kontynuj zakupy</a>
        </div>
         <div class="col-sm-6 text-right">
             <div class="pb20">
                 <h3><small>Razem w koszyku - </small> <%= sum %> zł</h3>
             </div>
            <a href="/payment" class="btn btn-primary">Płacę</a>
        </div>
    </div>
</div>


<% include ./partials/contact %>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script type="text/javascript" src="/assan/js/plugins/plugins.js"></script> 
<script type="text/javascript" src="/assan/js/assan.custom.js"></script> 
<!-- load cubeportfolio -->
<script type="text/javascript" src="/assan/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<!-- REVOLUTION JS FILES -->
<script type="text/javascript" src="/assan/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->  
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script>
    /**Hero  script**/
    var tpj = jQuery;

    var submitForm = function(event){
        $(event.target).closest('form').submit();
    }

    var revapi1078;
    tpj(document).ready(function () {
        if (tpj("#rev_slider_1078_1").revolution == undefined) {
            revslider_showDoubleJqueryError("#rev_slider_1078_1");
        } else {
            revapi1078 = tpj("#rev_slider_1078_1").show().revolution({
                sliderType: "standard",
                jsFileLocation: "/assan/revolution/js/",
                sliderLayout: "auto",
                dottedOverlay: "none",
                delay: 5000,
                navigation: {
                    arrows: {
                        enable: false
                    }
                },
                viewPort: {
                    enable: true,
                    outof: "pause",
                    visible_area: "80%",
                    presize: false
                },
                responsiveLevels: [1240, 1024, 778, 480],
                visibilityLevels: [1240, 1024, 778, 480],
                gridwidth: [1140, 992, 700, 465],
                gridheight: [300, 300, 200, 140],
                lazyType: "none",
                parallax: {
                    type: "mouse",
                    origo: "slidercenter",
                    speed: 2000,
                    levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55]
                },
                shadow: 0,
                spinner: "off",
                // stopLoop: "off",
                // stopAfterLoops: -1,
                // stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                hideThumbsOnMobile: "off",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    nextSlideOnWindowFocus: "off",
                    disableFocusListener: false
                }
            });
        }
    }); 
</script> 