<div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER 5.4.1 auto mode -->
    <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
        <ul>  
            <!-- SLIDE  -->
            <li data-index="rs-3045" data-transition="slideoverleft" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="slideoverleft" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Trening" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="/images/foto/1.jpg"  alt=""  
                data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption mainSlide-Subtitle   tp-resizeme" 
                     id="slide-1706-layer-1" 
                     data-x="['left','left','left','left']" data-hoffset="['30','15','15','15']" 
                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','1']" 
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-fontsize="['25','25','25','25']"
                     data-lineheight="['30','30','30','30']"
                     data-type="text" 
                     data-responsive_offset="on"
                     data-frames='[{"delay":1400,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="z-index: 7; white-space: nowrap;text-transform:left;">Przekonaj się sam, że aktywność fizyczna może być czystą przyjemnością.<br/>Zapraszam do treningu na siłowni lub w plenerze.</div>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption mainSlide-Title-Centered   tp-resizeme" 
                     id="slide-1706-layer-2"                      
                     data-x="['left','left','left','left']" data-hoffset="['30','15','15','15']" 
                     data-y="['middle','middle','middle','middle']" data-voffset="['-102','-102','-92','-68']" 
                     data-fontsize="['55','55','40','30']"
                     data-lineheight="['65','65','55','35']"
                     data-width="['800','700','621','420']"
                     data-height="none"
                     data-whitespace="normal"

                     data-type="text" 
                     data-responsive_offset="on" 
                     data-frames='[{"delay":800,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[10,10,10,10]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 6; text-align:left; max-width:1170px; white-space: normal;">Trening</div>
                <!-- LAYER NR. 3 -->
                <a class="tp-caption mainSlide-Button btn btn-lg btn-white-outline " 
                     id="slide-1706-layer-3" 
                     data-x="['left','left','left','left']" data-hoffset="['30','15','15','15']" 
                     data-y="['middle','middle','middle','middle']" data-voffset="['112','112','112','96']" 
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"

                     data-type="button" 
                     data-responsive_offset="on" 
                     data-responsive="off"
                     data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[12,12,12,12]"
                     data-paddingright="[35,35,35,35]"
                     data-paddingbottom="[12,12,12,12]"
                     data-paddingleft="[35,35,35,35]"
                     href="/#trainings" onclick="ScrollTo('trainings', event)"
                     style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Zaplanuj trening</a>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-3046" data-transition="slideoverleft" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="slideoverleft" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Dieta" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="/images/foto/2.jpg"  alt=""  data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption mainSlide-Subtitle   tp-resizeme" 
                     id="slide-1706-layer-1" 
                     data-x="['left','left','left','left']" data-hoffset="['30','15','15','15']" 
                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','1']" 
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-fontsize="['25','25','25','25']"
                     data-lineheight="['30','30','30','30']"
                     data-type="text" 
                     data-responsive_offset="on"
                     data-frames='[{"delay":1400,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="z-index: 7; white-space: nowrap;text-transform:left;">Indywidualnie dobrane plany żywieniowo treningowe.<br/>Jedz zmacznie i zdrowo!</div>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption mainSlide-Title-Centered   tp-resizeme" 
                     id="slide-1706-layer-2"                      
                     data-x="['left','left','left','left']" data-hoffset="['30','15','15','15']" 
                     data-y="['middle','middle','middle','middle']" data-voffset="['-102','-102','-92','-68']" 
                     data-fontsize="['55','55','40','30']"
                     data-lineheight="['65','65','55','35']"
                     data-width="['800','700','621','420']"
                     data-height="none"
                     data-whitespace="normal"

                     data-type="text" 
                     data-responsive_offset="on" 
                     data-frames='[{"delay":800,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[10,10,10,10]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 6; text-align:left; max-width:1170px; white-space: normal;">Dieta</div>
                <!-- LAYER NR. 3 -->
                <a class="tp-caption mainSlide-Button btn btn-lg btn-white-outline " 
                     id="slide-1706-layer-3" 
                     data-x="['left','left','left','left']" data-hoffset="['30','15','15','15']" 
                     data-y="['middle','middle','middle','middle']" data-voffset="['112','112','112','96']" 
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"

                     data-type="button" 
                     data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""}]'
                     data-responsive_offset="on" 
                     data-responsive="off"
                     data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[12,12,12,12]"
                     data-paddingright="[35,35,35,35]"
                     data-paddingbottom="[12,12,12,12]"
                     data-paddingleft="[35,35,35,35]"
                     href="/#yourGoal" onclick="ScrollTo('yourGoal', event)"
                     style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                            Dowiedz się więcej
                     </a>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-3047" data-transition="slideoverleft" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="slideoverleft" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Cześć, jestem Przemek" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="/images/foto/3.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption mainSlide-Subtitle   tp-resizeme" 
                     id="slide-1706-layer-1" 
                     data-x="['left','left','left','left']" data-hoffset="['30','15','15','15']" 
                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','1']" 
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-fontsize="['25','25','25','25']"
                     data-lineheight="['30','30','30','30']"
                     data-type="text" 
                     data-responsive_offset="on"
                     data-frames='[{"delay":1400,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"

                     style="z-index: 7; white-space: nowrap;text-transform:left;">Wierzę, że wspólnie jesteśmy w stanie odmienić Twoje życie. Na zawsze.</div>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption mainSlide-Title-Centered   tp-resizeme" 
                     id="slide-1706-layer-2"                      
                     data-x="['left','left','left','left']" data-hoffset="['30','15','15','15']" 
                     data-y="['middle','middle','middle','middle']" data-voffset="['-102','-102','-92','-68']" 
                     data-fontsize="['55','55','40','30']"
                     data-lineheight="['65','65','55','35']"
                     data-width="['800','700','621','420']"
                     data-height="none"
                     data-whitespace="normal"

                     data-type="text" 
                     data-responsive_offset="on" 
                     data-frames='[{"delay":800,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[10,10,10,10]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 6; text-align:left; max-width:1170px; white-space: normal;">Cześć, jestem Przemek </div>
                <!-- LAYER NR. 3 -->
                <a class="tp-caption mainSlide-Button btn btn-lg btn-white-outline " 
                     id="slide-1706-layer-3" 
                     data-x="['left','left','left','left']" data-hoffset="['30','15','15','15']" 
                     data-y="['middle','middle','middle','middle']" data-voffset="['112','112','112','96']" 
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"

                     data-type="button" 
                     data-actions='[{"event":"click","offset":"px","delay":""}]'
                     data-responsive_offset="on" 
                     data-responsive="off"
                     data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[12,12,12,12]"
                     data-paddingright="[35,35,35,35]"
                     data-paddingbottom="[12,12,12,12]"
                     data-paddingleft="[35,35,35,35]"
                     href='/about'
                     style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Dowiedz się o mnie więcej</a>
            </li>                         
        </ul>
        <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>  </div>
</div><!-- END REVOLUTION SLIDER -->


<div class="bg-faded">
    <div class="container pt60">
        <div class="title-heading1 mb40">
            <h3>Parę słów o mnie</h3>
        </div>           
    </div>
   

    <div class="container pb60">
            <div class="row align-items-center">
                <div class="col-lg-6 mb30">
                    <div id="js-grid-slider-thumbnail" class="cbp">
                        <div class="cbp-item">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap" >
                                    <img src="/images/foto/18.jpg" alt="" >
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/images/foto/17.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/images/foto/16.jpg" alt="">
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <!--thumbnails-->
                    <div id="js-pagination-slider">
                        <div class="cbp-pagination-item cbp-pagination-active" style="overflow: hidden;">
                            <img src="/images/foto/18.jpg" alt="" style="height: 66px;    width: auto;">
                        </div>
                        <div class="cbp-pagination-item">
                            <img src="/images/foto/17.jpg" alt="">
                        </div>
                        <div class="cbp-pagination-item">
                            <img src="/images/foto/16.jpg" alt="">
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="clearfix">
                        <div class="media mb30 wow fadeInUp" data-wow-delay=".150ms">
                            <div class="media-body">
                                <h4 class="mt-0 mb10">Jestem zwykłym gościem, który od 14 roku życia (czyli już ponad 22 lata) pasjonuje się dietetyką, ćwiczeniami i zdrowym trybem życia.</h4>
                            </div>
                        </div>
                        <div class="media mb30 wow fadeInUp" data-wow-delay=".250ms">
                            <div class="media-body">
                                <h4 class="mt-0 mb10">Wszystko zaczęło się od pływania, następnie były sztuki walki, podnoszenie ciężarów, kulturystyka a na sam koniec ojcostwo:)</h4>
                            </div>
                        </div>
                        <a href="/about" class="btn btn-outline-secondary">Dowiedz się więcej</a>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="bg-parallax parallax-overlay pt100 pb100" data-jarallax-video="https://www.youtube.com/watch?v=mq1ibddA7SQ" data-jarallax-original-styles="null">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-8 ml-auto mr-auto pt100 pb100">
                <a href="#trainings" onclick="ScrollTo('trainings', event)" class="btn btn-white-outline btn-lg">Zamów trening</a>
            </div>
        </div>
    </div>
</div>

<div class="">
    <div class="container pt60" id='trainings'>
        <div class="title-heading1 mb40">
            <h3>Treningi</h3>
        </div>           
    </div>
</div>
<div class="container">
    <div class="row pb60">
        <div class="col-lg-4 mb30 wow zoomInUp" data-wow-delay="100ms" data-wow-duration=".4s">
            <div class="icon-box icon-box-center">
                <img src="/images/phone.jpg" style="height: 100px;margin-bottom: 30px;" />
                <h4>
                1. Pierwszy kontakt
                </h4>
                <p>- Zadzwoń lub napisz do mnie<br/>
                - Opowiedz mi o swoim celu: sprawdzimy, czy jestem w stanie Ci pomóc<br/>
                - Zapytaj o dostępne terminy</p>
            </div>
        </div><!--/col-->
        <div class="col-lg-4 mb30 wow zoomInDown" data-wow-delay="200ms" data-wow-duration=".6s">
            <div class="icon-box icon-box-center">
                <img src="/images/card.jpg" style="height: 100px;margin-bottom: 30px;"/>
                <h4>
                2. Szybka i pewna płatność
                </h4>
                <p>- Wybierz pakiet treningów który najbardziej Ci odpowiada<br/>
                - Dokonaj płatności za pomocą karty lub szybkiego przelewu</p>
            </div>
        </div><!--/col-->
        <div class="col-lg-4 mb30 wow zoomInRight" data-wow-delay="300ms" data-wow-duration=".8s">
            <div class="icon-box icon-box-center">
                <img src="/images/comp.jpg" style="height: 100px;margin-bottom: 30px;"/>
                <h4>
                3. Wygodny panel
                </h4>
                <p>- Panel klienta to plan treningów zintegrowany z Twoim kalendarzem Google<br/>
                - Jest to miejsce obserwacji postępów i wymiany informacji ze mną</p>
                <a href="#trainingsPanel" id="trainingsPrice" onclick="ScrollTo('trainingsPanel', event)" class="btn btn-outline-info">Zobacz więcej</a>
            </div>
        </div><!--/col-->
    </div>
</div>

<% if(!locals.trainPlans || !locals.trainPlans.length) {%>
    <h3 style="color:red;">Błąd ładowania planów treningowych.</h3>
<% } else {%>
    <section class="bg-faded pb50">
        <div class="container">
            <% let cardClassWidth = (12 / locals.trainPlans.length); %>
            <% if(cardClassWidth > 6){cardClassWidth = 6;} %>
            <% if(cardClassWidth < 3){cardClassWidth = 3;} %>
            <% const cardClass = "col-md-" + cardClassWidth; %>
            <div class="row">
            <% 
                let maxPointsCount = 0;
                for(let i = 0; i < locals.trainPlans.length; i++) {
                    const pointsCount = (locals.trainPlans[i].description || '').split(/\n/).length;
                    if(maxPointsCount < pointsCount){
                        maxPointsCount = pointsCount;
                    }
                }
            %>
            <% for(let i = 0; i < locals.trainPlans.length; i++) {%>
                <% let plan = locals.trainPlans[i]; %>
                <div class="<%- cardClass %> mb40 wow fadeInUp" data-wow-delay=".<%- i+1 %>s">
                    <form action="/addItemToCart" method="POST">
                        <input type="hidden" name="trainingPlan" value="<%- plan.id %>">
                        <div class="pricing-card <%- plan.isRecomended ? 'active':'' %>">
                            <header class="pricing-header clearfix">
                                <div class="price-title"><%- plan.name %></div>
                                <div class="float-right price">
                                    <% if(plan.priceOld) {%>
                                    <span class='old-price'><strike><%- plan.priceOld %></strike> <sup>zł</sup> </span>
                                    <% } %>
                                    <%- plan.price %> <sup>zł</sup>
                                </div>                                
                            </header>
                            <div class="pricing-features">
                                <ul class="list-unstyled">
                                    <li>
                                       Treningów w cenie: <b><%- plan.trainsCount %></b>
                                    </li>
                                    <% const features = (plan.description || '').split(/\n/); %>
                                    <% for(let k = 0; k < features.length; k++) {%>
                                    <li>
                                        <%- features[k] %>   
                                    </li>
                                    <% } %>
                                    <% for(let k = 0; k < maxPointsCount - features.length; k++) {%>
                                    <li class='empty-point'>
                                        &nbsp;
                                    </li>
                                    <% } %>
                                </ul>                              
                            </div><!--pricing features-->
                            <footer class="pricing-footer text-center">                                    
                                <button type="submit" class="btn btn-outline-info">Dodaj do koszyka</button>
                            </footer>
                        </div><!--/pricing card-->
                    </form>
                </div>
            <% } %>
            </div>      
            <div class="row">
                <div class="col-lg-12 text-right">
                    <span style="margin-right: 20px;" >Gdzie i w jakich godzinach mozemy trenować?</span>
                    <a style="margin-top: -9px;" href="/trainings" class="btn btn-primary pull-right">Sprawdź</a>
                </div>
            </div>      
        </div>        
    </section>

<% } %>

<div class="container pt90 pb60 bg-faded" id='trainingsPanel'>
    <div class="title-heading1">
        <h3>Co otrzymujesz wraz z wykupionym pakietem?</h3>
    </div>  
    
    <div id="js-grid-lightbox-gallery" class="cbp">
        <div class="cbp-item web-design graphic print motion">
            <a href="/images/trainings/1.jpg" class="cbp-caption cbp-lightbox" data-title="Pełna integracja terminarza treningów z Twoim kalendarzem Google." rel="nofollow">
                <div class="cbp-caption-defaultWrap">
                    <img src="/images/trainings/1.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Pełna integracja terminarza treningów<br/>z Twoim kalendarzem Google.</div>
                            <div class="cbp-l-caption-desc"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item web-design logos identity graphic">
            <a href="/images/trainings/2.jpg" class="cbp-caption cbp-lightbox" data-title="Szczegółowa ankieta na temat codziennych zwyczajów" rel="nofollow">
                <div class="cbp-caption-defaultWrap">
                    <img src="/images/trainings/2.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Szczegółowa ankieta na temat codziennych zwyczajów</div>
                            <div class="cbp-l-caption-desc"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item graphic print identity">
            <a href="/images/trainings/3.jpg" class="cbp-caption cbp-lightbox" data-title="Terminarz treningów z modułem komunikacji" rel="nofollow">
                <div class="cbp-caption-defaultWrap">
                    <img src="/images/trainings/3.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Terminarz treningów z modułem komunikacji</div>
                            <div class="cbp-l-caption-desc"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item web-design motion logos">
            <a href="/images/trainings/4.jpg" class="cbp-caption cbp-lightbox" data-title="Zalecene spożycie wartości odżywczych dopasowane do indywidualnych potrzeb" rel="nofollow">
                <div class="cbp-caption-defaultWrap">
                    <img src="/images/trainings/4.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Zalecene spożycie wartości odżywczych<br/>dopasowane do indywidualnych potrzeb</div>
                            <div class="cbp-l-caption-desc"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<div>
    <div class="container pt40" id='feedPlans'>
        <div class="title-heading1 mb20">
            <h3>Plany dietetyczne i treningowe</h3>
        </div>           
    </div>
</div>

<!-- <div class="bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2 }' style='background-image: url("/images/foto/5.jpg")'>
    <div class="container pt90 pb60">
        <div class="row align-items-center">
            <div class="col-lg-12 mb30 text-center">
                <h3 class="text-white mb30">"Odpowiednio dobrana dieta jest tym co gwarantuje 70% sukcesu w procesie budowania sylwetki"</h3>
            </div>
        </div>
    </div>
</div>

<div class="">
    <div class="container pt60">
        <div class="title-heading1 mb40">
            <h3>Dieta + plan treningowy + codzienna konsultacja</h3>
            <h4>Jak to działa?</h4>
        </div>           
    </div>
</div> -->
<div class="container">
    <div class="row pb60">
        <div class="col-lg-4 mb30 wow zoomInUp" data-wow-delay="100ms" data-wow-duration=".4s">
            <div class="icon-box icon-box-center">
                <img src="/images/1.jpg" style="height: 100px;margin-bottom: 30px;" />
                <h4>1. Dostęp do panelu klienta</h4>
                <p>
                    Wykupując abonament otrzymujesz dostep do panelu klienta. Od tego momentu tutaj będzie nasze centrum dowodzenia Twoimi postępami!
                </p>
            </div>
        </div><!--/col-->
        <div class="col-lg-4 mb30 wow zoomInDown" data-wow-delay="200ms" data-wow-duration=".6s">
            <div class="icon-box icon-box-center">
                <img src="/images/2.jpg" style="height: 100px;margin-bottom: 30px;" />
                <h4>2. Szczegółowa ankieta</h4>
                <p>
                    Na podstawie wypełnionej ankiety otrzymujesz ode mnie plan dietetyczny i treningowy, dostosowane indywidualnie do Twojego celu.
                </p>
            </div>
        </div><!--/col-->
        <div class="col-lg-4 mb30 wow zoomInRight" data-wow-delay="300ms" data-wow-duration=".8s">
            <div class="icon-box icon-box-center">
                <img src="/images/3.jpg" style="height: 100px;margin-bottom: 30px;" />
                <h4>3. Codzienna komunikacja</h4>
                <p>
                    Jeżeli wybrałeś plan z codzeinną konsultacją,  
uzupełniasz w panelu swoje posiłki i treningi, otrzymując ode mnie na koniec każdego dnia informację zwrotną. 
                </p>
                <a href="#feedPanel" onclick="ScrollTo('feedPanel', event)" class="btn btn-outline-info">Zobacz więcej</a>
            </div>
        </div><!--/col-->
    </div>
</div>

<div class="" id='yourGoal'>
    <div class="container pt60" id='feedPlansPrice'>
        <div class="title-heading1 mb40">
            <h3>Jaki jest Twój cel?</h3>
        </div>           
    </div>
</div>
<form action="/addItemToCart" method="POST">
    <div class="container">
        <div class="row">
            <% let targetClassWidth = (12 / locals.feedPlanTarget.length); %>
            <% if(targetClassWidth < 2){targetClassWidth = 2;} %>
            <% const targetCardClass = "col-md-" + targetClassWidth; %>
            <% for(let i = 0; i < locals.feedPlanTarget.length; i++) {%>
                <% let target = locals.feedPlanTarget[i]; %>
                <div class="<%- targetCardClass %> wow zoomInUp" data-wow-delay="<%- (i+1)*200 %>ms" data-wow-duration=".4s">
                    <div>
                        <label class="custom-control custom-radio">
                            <input name="target" type="radio" value="<%- target.id %>" 
                            <% if(i === 0) {%>
                                checked='checked'
                            <% } %>
                            class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description"><%- target.name %></span>
                        </label>
                    </div>
                </div><!--/col-->
            <% } %>
        </div>
    </div>

    <div class="container feed-plans">
        <div class="row feed-header">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <label>Dieta + plan treningowy</label>
            </div>
            <div class="col-md-4">
                <label>Dieta + plan treningowy + bieżąca codzienna konsultacja</label>
            </div>
        </div>

        <% for(let i = 0; i < locals.feedPlans.length; i++) {%>
            <% let plan = locals.feedPlans[i]; let word = 'miesięcy'; %>
            <% if(plan.months < 6){word = 'miesiące';} %>
            <% if(plan.months == 1){word = 'miesiąc';} %>        
            <div class="row feed-item">
                <div class="col-md-4 feed-cell">
                    <h3 class='feed-title'><%- plan.months %> <%- word %></h3>
                    <p class="feed-description">Abonament na <%- plan.months %> <%- word %></p>
                </div>
                <div class="col-md-4 feed-cell">
                    <div class='row'>
                        <div class="feed-checkbox">
                            <label class="custom-control custom-radio">
                                <input name="feedPlan" type="radio" value="<%- plan.noConsult.id %>" 
                                <% if(i === 0) {%>
                                    checked='checked'
                                <% } %>
                                class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </div>
                        <div class="feed-prices">
                            <div class="row">
                                <div class="col-md-12 feed-old-price" style="min-height: 25px;">
                                    <% if(plan.noConsult.priceOld){ %>
                                        <strike><%- plan.noConsult.priceOld %> zł</strike>
                                    <% } %>
                                </div>
                                <div class="col-md-12 feed-price"><%- plan.noConsult.price %> zł</div>
                                <div class="col-md-12 feed-monthly" style="min-height: 25px;">
                                    <% if(plan.months > 1){ %>
                                        <%- (plan.noConsult.price / plan.months).toFixed(2) %> zł/mc
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 feed-cell">
                    <div class='row'>
                        <div class="feed-checkbox">
                            <label class="custom-control custom-radio">
                                <input name="feedPlan" type="radio" value="<%- plan.consult.id %>" 
                                class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </div>
                        <div class="feed-prices">
                            <div class="row">
                                <div class="col-md-12 feed-old-price" style="min-height: 25px;">
                                    <% if(plan.consult.priceOld){ %>
                                        <strike><%- plan.consult.priceOld %> zł</strike>
                                    <% } %>
                                </div>
                                <div class="col-md-12 feed-price"><%- plan.consult.price %> zł</div>
                                <div class="col-md-12 feed-monthly" style="min-height: 25px;">
                                    <% if(plan.months > 1){ %>
                                        <%- (plan.consult.price / plan.months).toFixed(2) %> zł/mc
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

    <div class="container pb30">
        <div class="row">
            <div class="col-lg-12">
                <button type="submit" class="btn btn-outline-info btn-lg pull-right">Dodaj do koszyka</button>
            </div>
        </div>
    </div>
</form>

<div class="container pt90 pb60 bg-faded" id='feedPanel'>
    <div class="title-heading1">
        <h3>Co otrzymujesz wraz z wykupionym pakietem?</h3>
    </div>  
    <div id="js-grid-lightbox-gallery-2" class="cbp">
        <div class="cbp-item web-design graphic print motion">
            <a href="/images/feed/1.jpg" class="cbp-caption cbp-lightbox" data-title="Narzędzie do monitorowania spełnienia celów żywiniowych" rel="nofollow">
                <div class="cbp-caption-defaultWrap">
                    <img src="/images/feed/1.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Narzędzie do monitorowania<br/>spełnienia celów żywiniowych</div>
                            <div class="cbp-l-caption-desc"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item web-design logos identity graphic">
            <a href="/images/feed/2.jpg" class="cbp-caption cbp-lightbox" data-title="Plan żywieniowy i treningowy dopasowany do indywidualnych potrzeb" rel="nofollow">
                <div class="cbp-caption-defaultWrap">
                    <img src="/images/feed/2.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Plan żywieniowy i treningowy<br/>dopasowany do indywidualnych potrzeb</div>
                            <div class="cbp-l-caption-desc"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item graphic print identity">
            <a href="/images/feed/3.jpg" class="cbp-caption cbp-lightbox" data-title="Szczegółowa ankieta, pozwalająca dobrze dopasować zalecenia żywieniowe i treningowe" rel="nofollow">
                <div class="cbp-caption-defaultWrap">
                    <img src="/images/feed/3.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Szczegółowa ankieta, pozwalająca dobrze<br/>dopasować zalecenia żywieniowe i treningowe</div>
                            <div class="cbp-l-caption-desc"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item web-design motion logos">
            <a href="/images/feed/4.jpg" class="cbp-caption cbp-lightbox" data-title="Szczegółowy rejestr posiłków z uwzględnieniem wartości odżywczych" rel="nofollow">
                <div class="cbp-caption-defaultWrap">
                    <img src="/images/feed/4.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Szczegółowy rejestr posiłków<br/>z uwzględnieniem wartości odżywczych</div>
                            <div class="cbp-l-caption-desc"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div>
    <div class="container pb20">
            <div class="row align-items-center">
                <div class="col-lg-6 mb30">
                    <div class="cbp-caption-defaultWrap" style="padding: 20px;">
                        <img src="/images/foto/4.jpg" alt="" style="max-width: 100%;">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="clearfix">
                        <div class="media mb30 wow fadeInUp" data-wow-delay=".150ms">
                            <div class="media-body">
                                <h4 class="mt-0 mb10">Jestem trenerem osobistym od 7 lat. Moją największą pasją jest łączenie różnych form odżywiania z różnymi formami treningu. Dzięki odpowiedniemu połączeniu godzin posiłków, stymulowaniu organizmu różnymi formami ruchu, możliwe jest osiągnięcie wspaniałych wyników w relatywnie krótkim czasie.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- 

<div class="bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2 }' style='background-image: url("/images/foto/6.jpg")'>
    <div class="container pt90 pb60">
        <div class="row align-items-center">
            <div class="col-lg-12 mb30 text-center">
                <h3 class="text-white mb30">Wiele osób nie jest świadomych dwóch rzeczy:<br/>
                 Po pierwsze nie znają zasad funkcjonowania swojego ciała.<br/>
                  Po drugie nie zdają sobie sprawy z tego, jaki wpływ na ich stan zdrowia ma to co wkładają do ust…<br/>
mówimy oczywiście o żywności.</h3>
            </div>
        </div>
    </div>
</div>

<div class="container pt90 pb60">
    <div class="row align-items-center">
        <div class="col-lg-6 ml-auto mb30">
            <p class="lead text-center" style="color:black;">
                Zanim jednak rozpiszę Tobie dietę muszę mieć wypełnioną przez Ciebie ankietę i znać Twoje wyniki badań. Dlaczego?
            </p>
        </div>
        <div class="col-lg-6 ml-auto mb30">
            <p class="lead text-center" style="color:black;">
                Z prostej przyczyny: nie biorę pieniędzy za czytanie z fusów, ale za rzetelne ułożenie planu żywieniowego, dostosowanego do potrzeb Twojego organizmu, trybu życia i celów jakie chcesz zrealizować.
            </p>
        </div>
    </div>
</div> -->

<div class="container pt90 pb60 bg-faded">
    <div class="row align-items-center">
        <div class="col-lg-12 ml-auto mb30">
            <p class="lead text-black text-center" style="color:black;">
                Aha i jeszcze jedno. Nie jestem Master Chefem, więc niektóre moje przepisy są banalnie proste … nie lubię tracić czasu na przygotowywanie posiłków, ponieważ czas ten mogę poświęcić na pełne energii, pasji i witalności życie.
            </p>
        </div>        
    </div>
</div>

<% include ./partials/contact %>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script type="text/javascript" src="/assan/js/plugins/plugins.js"></script> 
<script type="text/javascript" src="/assan/js/assan.custom.js"></script> 
<!-- load cubeportfolio -->
<script type="text/javascript" src="/assan/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<!-- REVOLUTION JS FILES -->
<script type="text/javascript" src="/assan/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->  
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/assan/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script>
    /**Hero  script**/
    var tpj = jQuery;

    var revapi1078;
    tpj(document).ready(function () {
        if (tpj("#rev_slider_1078_1").revolution == undefined) {
            revslider_showDoubleJqueryError("#rev_slider_1078_1");
        } else {
            revapi1078 = tpj("#rev_slider_1078_1").show().revolution({
                sliderType: "standard",
                jsFileLocation: "/assan/revolution/js/",
                sliderLayout: "auto",
                dottedOverlay: "none",
                delay: 5000,
                navigation: {
                    arrows: {
                        enable: true,
                        style: 'uranus',
                        tmp: '',
                        rtl: false,
                        hide_onleave: false,
                        hide_onmobile: true,
                        hide_under: 600,
                        hide_over: 9999,
                        hide_delay: 200,
                        hide_delay_mobile: 1200,
                        left: {
                            container: 'slider',
                            h_align: 'left',
                            v_align: 'center',
                            h_offset: 0,
                            v_offset: 0
                        },
                        right: {
                            container: 'slider',
                            h_align: 'right',
                            v_align: 'center',
                            h_offset: 0,
                            v_offset: 0
                        }
                    }
                },
                viewPort: {
                    enable: true,
                    outof: "pause",
                    visible_area: "80%",
                    presize: false
                },
                responsiveLevels: [1240, 1024, 778, 480],
                visibilityLevels: [1240, 1024, 778, 480],
                gridwidth: [1140, 992, 700, 465],
                gridheight: [600, 600, 500, 480],
                lazyType: "none",
                parallax: {
                    type: "mouse",
                    origo: "slidercenter",
                    speed: 2000,
                    levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55]
                },
                shadow: 0,
                spinner: "on",
                // stopLoop: "off",
                // stopAfterLoops: -1,
                // stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                hideThumbsOnMobile: "off",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    nextSlideOnWindowFocus: "off",
                    disableFocusListener: false
                }
            });
        }
    }); /*ready*/
    //cube portfolio init
    (function ($, window, document, undefined) {
        'use strict';

        // init cubeportfolio
        $('#js-grid-slider-thumbnail').cubeportfolio({
            layoutMode: 'slider',
            drag: true,
            auto: false,
            autoTimeout: 5000,
            autoPauseOnHover: true,
            showNavigation: false,
            showPagination: false,
            rewindNav: true,
            scrollByPage: true,
            gridAdjustment: 'responsive',
            mediaQueries: [{
                    width: 0,
                    cols: 1
                }],
            gapHorizontal: 0,
            gapVertical: 0,
            caption: '',
            displayType: 'slide',
            displayTypeSpeed: 400,
            plugins: {
                slider: {
                    pagination: '#js-pagination-slider',
                    paginationClass: 'cbp-pagination-active'
                }
            }
        });

        $('#js-grid-lightbox-gallery').cubeportfolio({
            filters: '#js-filters-lightbox-gallery',
            layoutMode: 'grid',
            mediaQueries: [{
                    width: 1500,
                    cols: 2
                }, {
                    width: 1100,
                    cols: 2
                }, {
                    width: 800,
                    cols: 2
                }, {
                    width: 480,
                    cols: 2,
                    options: {
                        caption: ''
                    }
                }],
            defaultFilter: '*',
            animationType: 'flipOutDelay',
            gapHorizontal: 15,
            gapVertical: 15,
            gridAdjustment: 'responsive',
            caption: 'zoom',
            displayType: 'fadeIn',
            displayTypeSpeed: 100,
            // lightbox
            lightboxDelegate: '.cbp-lightbox',
            lightboxGallery: true,
            lightboxTitleSrc: 'data-title',
            lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} z {{total}}</div>'
        });

        $('#js-grid-lightbox-gallery-2').cubeportfolio({
            filters: '#js-filters-lightbox-gallery',
            layoutMode: 'grid',
            mediaQueries: [{
                    width: 1500,
                    cols: 2
                }, {
                    width: 1100,
                    cols: 2
                }, {
                    width: 800,
                    cols: 2
                }, {
                    width: 480,
                    cols: 2,
                    options: {
                        caption: ''
                    }
                }],
            defaultFilter: '*',
            animationType: 'flipOutDelay',
            gapHorizontal: 15,
            gapVertical: 15,
            gridAdjustment: 'responsive',
            caption: 'zoom',
            displayType: 'fadeIn',
            displayTypeSpeed: 100,
            // lightbox
            lightboxDelegate: '.cbp-lightbox',
            lightboxGallery: true,
            lightboxTitleSrc: 'data-title',
            lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} z {{total}}</div>'
        });
    })(jQuery, window, document);
</script> 
