<div class="bg-parallax parallax-overlay listing-page-container hero-search" data-jarallax='{"speed": 0.2}' style='background-image: url("/images/pics/4.jpg");'>
    <div class="container">
        <h2 class="text-white h1 font700 mb30 pb30 text-center">Znajdź trenera i osiągnij swój cel</h2>
    </div>
</div><!--Hero-->

<div class="container pt90 pb50">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3 mb40">
            <div class="pb30">
                <h4 class="sidebar-title">Szukam:</h4>
                <select class="form-control" id="trainer-type">
                    <option value="trainer">Trenera osobistego</option>
                    <option value="consultant">Konsultanta dyjetytycznego</option>
                </select>
            </div>

            <div class="pb30">
                <h4 class="sidebar-title">Miasto:</h4>
                <select class="form-control" id="city">
                    <option value="0">Nie wybrane</option>
                    <option value="1">Warszawa</option>
                    <option value="2">Kraków</option>
                    <option value="3">Łódź</option>
                    <option value="4">Wrocław</option>
                    <option value="5">Poznań</option>
                    <option value="6">Gdańsk</option>
                    <option value="7">Szczecin</option>
                </select>
            </div>

            <div class="mb40">
                <h4 class="sidebar-title">Jaki masz cel:</h4>
                <ul class="list-unstyled categories">
                    <li class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Chcę schudnąć
                        </label>
                    </li>
                    <li class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Chcę schudnąć
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9 mb40">
            <% for(var i = 0; i < trainers.length; i++){
                var trainer = trainers[i]; %>

            <div class="property-listing-row">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <a class="listing-thumb" href="#">
                            <img src="<%- trainer.user.profilePic || '/images/no_image_user.png' %>" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-sm-7">
                        <div class="listing-content-alt">
                            <h3><a href="/<%- trainer.friendlyId %>"><%- trainer.user.name %></a></h3>
                            <span class="listing-location"><%- trainer.mainText %></span>
                            <hr />
                            <div class="property-listing-footer clearfix">
                                <% if(trainer.isTrainer) { %>
                                    <h4>Trener personalny</h4>
                                <% } %>
                                <% if(trainer.isFeedCounsultant) { %>
                                    <h4>Dietetyk</h4>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%}%>

            <%- include ./partials/pagination %>            
        </div>
        
    </div>
</div>

<script type="text/javascript" src="/assan/js/plugins/plugins.js"></script> 
<script type="text/javascript" src="/assan/js/assan.custom.js"></script> 