<script type="text/javascript" src="/assan/js/plugins/plugins.js"></script> 
<script type="text/javascript" src="/assan/js/assan.custom.js"></script> 

<div class="bg-parallax parallax-overlay listing-page-container hero-search" data-jarallax='{"speed": 0.2}' style='background-image: url("/images/pics/4.jpg");'>
    <div class="container">
        <h2 class="text-white h1 font700 mb30 pb30 text-center">Znajdź trenera i osiągnij swój cel</h2>
    </div>
</div><!--Hero-->

<div class="container pt90 pb50">
    <div class="row">            
            <div class="col-md-3 col-sm-3 col-xs-3 mb40">
                <form role="form" id="search-form" action="/trainers">
                    <input type="hidden" name="page" value="" />
                    <div class="pb30">
                        <h4 class="sidebar-title">Szukam:</h4>
                        <select class="form-control" id="type" name="type">
                            <option value="trainer">Trenera osobistego</option>
                            <option value="consultant">Konsultanta dyjetytycznego</option>
                        </select>
                    </div>

                    <div class="pb30 city-select">
                        <h4 class="sidebar-title">Miasto:</h4>
                        <select class="form-control" id="city" name="city">
                            <option value="0">Nie wybrane</option>
                            <option value="1">Warszawa</option>
                            <option value="2">Kraków</option>
                            <option value="3">Łódź</option>
                            <option value="4">Wrocław</option>
                            <option value="5">Poznań</option>
                            <option value="6">Gdańsk</option>
                            <option value="7">Szczecin</option>
                        </select>
                    </div>

                    <div class="mb40">
                        <h4 class="sidebar-title">Jaki masz cel:</h4>
                        <ul class="list-unstyled categories">
                            <li class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="1" name="isHelpLessWeight" />
                                    Chcę schudnąć
                                </label>
                            </li>
                            <li class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="1" name="isHelpHealthImprove" />
                                    Chcę poprawić stan zdrowia
                                </label>
                            </li>

                            <li class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="1" name="isHelpRehabilitation" />
                                    Rehabilitacja
                                </label>
                            </li>
                            <li class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="1" name="isHelpFixWeight" />
                                    Chcę poprawić sylwetkę - masa
                                </label>
                            </li>
                            <li class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="1" name="isHelpFixShape" />
                                    Chcę poprawić sylwetkę - rzeźba
                                </label>
                            </li>
                            <li class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="1" name="isHelpSportResults" />
                                    Chcę poprawić wyniki sportowe
                                </label>
                            </li>
                        </ul>
                    </div>

                    <div class="mb40 sport-fields">
                        <h4 class="sidebar-title">Dyscyplina sportowa:</h4>
                        <ul class="list-unstyled categories">
                            <li class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="1" name="isTrainFitness" />
                                    Kulturystyka i fitness
                                </label>
                            </li>
                            <li class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="1" name="isTrainLifting" />
                                    Podnoszenie ciężarów
                                </label>
                            </li>
                            <li class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="1" name="isTrainSwimming" />
                                    Pływanie
                                </label>
                            </li>
                            <li class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="1" name="isTrainFighting" />
                                    Sporty walki
                                </label>
                            </li>
                            <li class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="1" name="isTrainBike" />
                                    Kolarstwo
                                </label>
                            </li>
                            <li class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="1" name="isTrainYoga" />
                                    Yoga
                                </label>
                            </li>
                        </ul>
                    </div>

                    <div class="mb40 feed-fields">
                        <h4 class="sidebar-title">Specjalizacja dyjetytyczna:</h4>
                        <ul class="list-unstyled categories">
                            <li class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="1" name="isFeedBalance" />
                                    Dieta  zbilansowana
                                </label>
                            </li>
                            <li class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="1" name="isFeedWege" />
                                    Dieta  wegańska / wegetaiańska
                                </label>
                            </li>
                            <li class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="1" name="isFeedProtein" />
                                    Dieta białkowa
                                </label>
                            </li>
                            <li class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="1" name="isFeedFat" />
                                    Dieta tłuszczowa
                                </label>
                            </li>
                            <li class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="1" name="isFeedAlkalising" />
                                    Dieta alkalizująca
                                </label>
                            </li>
                            <li class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="1" name="isFeedCleaning" />
                                    Dieta oczyszczająca
                                </label>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9 mb40">
                <% if(!trainers.length) { %>
                    <p class="not-found text-center">Brak wyników</p>
                <% } %>

                <% for(var i = 0; i < trainers.length; i++){
                    const trainer = trainers[i]; %>

                <div class="property-listing-row">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <a class="listing-thumb" href="/<%- trainer.friendlyId %>">
                                <img src="<%- trainer.user.profilePic || '/images/no_image_user.png' %>" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-sm-7">
                            <div class="listing-content-alt">
                                <h3><a href="/<%- trainer.friendlyId %>"><%- trainer.user.name %></a></h3>
                                <span class="listing-location"><%- trainer.mainText %></span>
                                <hr />
                                <div class="property-listing-footer clearfix">
                                    <% if(trainer.isTrainer) { %>
                                        <h4>Trener personalny</h4>
                                    <% } %>
                                    <% if(trainer.isFeedCounsultant) { %>
                                        <h4>Dietetyk</h4>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <%}%>

                <%- include ./partials/pagination %>            
            </div>
    </div>
</div>

<script type="text/javascript">
    let sendForm = function() {
        $('#search-form').hide();
        $('#search-form').submit();
    }

    let sendTimer = null;

    let sendFormDebounce = function() {
        clearTimeout(sendTimer);
        sendTimer = setTimeout(sendForm, 1000);
    }

    let setFieldsType = function(type) {
        if(type == 'consultant'){
            $('.city-select, .sport-fields').hide();
            $('.city-select input, sport-fields input').attr('disabled', 'disabled');

            $('.feed-fields input').removeAttr('disabled');
            $('.feed-fields').show();

        }else if(type == 'trainer'){
            $('.city-select input').removeAttr('disabled');
            $('.city-select').show();

            $('.feed-fields').hide();
            $('.feed-fields input').attr('disabled', 'disabled');

            $('.sport-fields input').removeAttr('disabled');
            $('.sport-fields').show();
        }
    }

    let parseQueryString = function() {

        let str = window.location.search;
        let objURL = {};

        str.replace(
            new RegExp( "([^?=&]+)(=([^&]*))?", "g" ),
            function( $0, $1, $2, $3 ){
                objURL[ $1 ] = $3;
            }
        );
        return objURL;
    };

    var params = parseQueryString();
    for(let key in params){
        let element = $('[name=' + key + ']')
        if(element.attr('type') == 'checkbox'){
            if(params[key]){
                element.attr('checked','checked');
            }
        }else{

        }
        element.val(params[key]);
    }

    setFieldsType(params['type']);

    $('select').change(function(event){
        if($(this).attr('name') == 'type'){
            setFieldsType($(this).val());
        }
        sendFormDebounce();
    });

    $('input').change(function(event){
        sendFormDebounce();
    });
</script>