<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="icon" type="image/png" href="/favicon.ico?v=2" />
    <title>Fitelio - Kody rabatowe</title>
    <style type="text/css">
        table{
            width: 100%;
        }
        img{
            margin-top: 10px;
            max-width: 250px;
        }
        td{
            border: 1px solid black;
            text-align: center;
        }
        h2{
            font-weight: normal;
        }
        p{
        }
        h1{
        }
        @media print{@page {size: landscape}}
    </style>
</head>
<body> 
    <table>
        <tbody>
            <tr>
                <% for(let i = 0; i < locals.codes.length; i++) {
                    let code = locals.codes[i];
                %>
                <td>
                    <div>
                        <img src="/images/logo.png"/>
                    </div>
                    <h2><%= locals.trainerInfo.user.name %></h2>
                    <p>www.fitelio.pl/<%= locals.trainerInfo.friendlyId %></p>
                    <p>Kupon na:</p>
                    <% if(code.feedPlan) {%>
                        <h1><b><%= code.feedPlan.weeks %> <%= code.feedPlan.toJSON().word %></b></h1>
                    <% } %>
                    <% if(code.trainPlan) {%>
                        <h1><b>Treningów: <%= code.trainPlan.trainsCount %></b></h1>
                    <% } %>
                    <h2><p>Kod: <%= code.value%></p></h2>
                </td>
                    <% if(i % 3 === 2) {%>
                    </tr>
                    <tr>
                    <% } %>
                <% } %>
            </tr>            
        </tbody>
    </table>
    <script type="text/javascript">
        setTimeout(() => {window.print();}, 100);
    </script>
</body>
</html>
