<% include ./partials/trainerFields %>

<% function checkingItemsHelper(keys, names){
    if(keys.length != names.length){
        throw new Error('Names and keys collections must match!');
    }
    for(let i = 0; i < keys.length; i++){ 
        let key = keys[i];
        let val = names[i]; 
        if(isEditMode){ %>
        <li data-field='<%- key %>' <% if(info[key]) {%> data-checked="checked" <% } %> ><%- val %></li>
    <%  }else{ %>
        <% if(info[key]) {%> <li><%- val %></li> <% } %>
    <%} 
    } 
} %>

<section class="site-wrapper" style="margin-top: 70px;overflow: hidden;">

    <% if(isEditMode){ %>
    <input type="hidden" name="info-id" id="info-id" value="<%- info.id %>" />
    <% } %>

    <div class="no-padding resume-header bg-dark">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 no-padding">
                    <img src="<%- info.user.profilePic || '/images/no_image_user.png' %>" alt="" class="img-fluid" data-hint />
                </div>  
            	<div class="col-lg-6 resume-header-text">
                    <div class="clearfix">
                        <div class="media mb10 wow fadeInUp" data-wow-delay=".150ms">
                            <div class="media-body">
                            	<h2 class="h1 mb0" data-hint><%- info.user.name %></h2>
                                <p class="lead" data-hint>
                                    <% if(info.isTrainer && info.isFeedCounsultant){ %>
                                    Trener personalny, dietetyk
                                    <% } else if(info.isTrainer){ %>
                                    Trener personalny
                                    <% } else if(info.isFeedCounsultant){ %>
                                    Dietetyk
                                    <% } else { %>
                                    <b>Ustaw swoją specjalizację na stronie proiflu.</b>
                                    <% } %>                            
                                </p>
                                <h5 class="mt-20 mb10 text-left trainer-about" style="min-height: 50px;" data-main-text><%- info.mainText || "Opis" %></h5>
                            </div>
                        </div>
                        <div class="buttons media mb10 wow fadeInUp" data-wow-delay=".300ms">
                            <% if(info.isTrainer){ %>
                            <a href="#trainings" onclick="ScrollTo('trainings', event)" class="btn btn-primary btn-rounded">Trening personalny</a>
                            <% } if(info.isFeedCounsultant) { %>
                            <a href="#feedPlans" onclick="ScrollTo('feedPlans', event)" class="btn btn-light btn-rounded">Konsultacja dietetyczna</a>
                            <% } %>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
    </div>

    <div class="container pb20 trainer-experience" style="padding: 40px;">
        <div class="title-heading1 mb20 mr-auto ml-auto clearfix">
            <h3 class="">Doświadczenie i kwalifikacje</h3>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4 class="text-left"><img src="/images/icons/profile.png" style="width: 40px; height: 40px;" /> Specjalizacja</h4>
                <ul data-hint>
                    <li>Trener personalny</li>
                    <li>Dietetyk</li>
                </ul>
                <% if(isEditMode || (info.certificates && info.certificates.length)) {%>
                <h4 class="text-left"><img src="/images/icons/diplom.png" style="width: 40px; height: 40px;" /> Wyszktałcenie, kursy, certyfikaty</h4>
                <ul data-edit-list="certificates">
                    <% if(info.certificates && (typeof info.certificates == 'object') ) for(let i = 0; i < info.certificates.length; i++) {%>
                        <li><%- info.certificates[i] %></li>
                    <% } %>
                </ul>
                 <% } %>
            </div>  
            <div class="col-lg-6">
                <% if(isEditMode || (info.achivements && info.achivements.length)) {%>
                <div class="clearfix">
                    <h4 class="text-left"><img src="/images/icons/lib.png" style="width: 40px; height: 40px;" /> Osiągnięcia</h4>
                    <ul data-edit-list="achivements">
                        <% if(info.achivements && (typeof info.achivements == 'object') ) for(let i = 0; i < info.achivements.length; i++) {%>
                            <li><%- info.achivements[i] %></li>
                        <% } %>
                    </ul>
                </div>
                <% } %>
                <% if(isEditMode || (info.certificateImages && info.certificateImages.length)) {%>
                <div class="clearfix">
                    <h4 class="text-left"><img src="/images/icons/prize.png" style="width: 40px; height: 40px;" /> Certyfikaty <% if(isEditMode){ %><button class="btn btn-primary btn-sm add-image">Dodaj</button> <% } %> </h4>
                    <% if(isEditMode){ %>                        
                        <form id='cert-image-form' style='display:none;'>
                            <input type='file' name='file' id='newCertificate' 
                            accept="image/x-png,image/gif,image/jpeg" 
                            class="cert-image image-input" />
                        </form>
                    <% } %>
                    <div id="js-grid-lightbox-gallery" class="cbp certificates-gallery">
                        <%  let limitCert = info.certificateImages.length;
                            if(!isEditMode){
                                limitCert = 4;
                            }
                            let certLeft = info.certificateImages.length - limitCert;
                            for(let i = 0; i < limitCert; i++){
                         %>
                            <div class="cbp-item cbp-item-small">
                                <a href="<%- info.certificateImages[i] %>" class="cbp-caption cbp-lightbox" rel="nofollow">
                                    <div class="">
                                        <img src="<%- info.certificateImages[i] %>" alt="">
                                    </div>
                                </a>
                            </div>
                         <% } %>

                        <% if(certLeft > 0){ %>                     
                            <div class="more-items cbp-item cbp-item-small">
                                +<%- certLeft %>      
                            </div>
                        <% } %>

                        <%  
                            for(let i = limitCert; i < info.certificateImages.length; i++){
                         %>
                            <div class="cbp-item cbp-item-small" style="display: none;">
                                <a href="<%- info.certificateImages[i] %>" class="cbp-caption cbp-lightbox" rel="nofollow">
                                    <div class="">
                                        <img src="<%- info.certificateImages[i] %>" alt="">
                                    </div>
                                </a>
                            </div>
                         <% } %>
                    </div>
                </div>
                <% } %>
                <% if(isEditMode || (info.photos && info.photos.length)) {%>
                <div class="clearfix">
                    <h4 class="text-left"><img src="/images/icons/foto.png" style="width: 40px; height: 40px;" /> Zdjęcia <% if(isEditMode){ %><button class="btn btn-primary btn-sm add-image">Dodaj</button> <% } %></h4>                  
                    
                    <% if(isEditMode){ %>
                        
                        <form id='cert-image-form' style='display:none;'>
                            <input type='file' name='file' id='newCertificate' 
                            accept="image/x-png,image/gif,image/jpeg" 
                            class="cert-image image-input" />
                        </form>
                    <% } %>

                     <div id="js-grid-lightbox-gallery2" class="cbp photos-gallery">

                     <%  let limitPhotos = info.photos.length;
                            if(!isEditMode){
                                limitPhotos = 4;
                            }
                            let photosLeft = info.photos.length - limitPhotos;
                            for(let i = 0; i < limitPhotos; i++){
                         %>
                        <div class="cbp-item cbp-item-small">
                            <a href="<%- info.photos[i] %>" class="cbp-caption cbp-lightbox" rel="nofollow">
                                <div class="">
                                    <img src="<%- info.photos[i] %>" alt="">
                                </div>
                            </a>
                        </div>
                         <% } %>

                        <% if(photosLeft > 0){ %>                     
                        <div class="more-items cbp-item cbp-item-small">
                            +<%- photosLeft %>      
                        </div>
                        <% } %>

                        <%  
                            for(let i = limitPhotos; i < info.photos.length; i++){
                         %>
                        <div class="cbp-item cbp-item-small" style="display: none;">
                            <a href="<%- info.photos[i] %>" class="cbp-caption cbp-lightbox" rel="nofollow">
                                <div class="">
                                    <img src="<%- info.photos[i] %>" alt="">
                                </div>
                            </a>
                        </div>
                         <% } %>
                    </div>
                </div>
                <% } %>
            </div>              
        </div>
    </div>

    <% if(isEditMode){ %>
        <div class="container pt90 clearfix mb90">
            <div class="title-heading1 mb0 mr-auto ml-auto clearfix">
                <h3 id="trainings">Poznajmy się bliżej</h3>
            </div>
            <div class="mb20 text-center">
                <input type="checkbox" id="hasVideo"
                <% if(info.hasVideo) { %>
                checked='checked'
                <% } %>
                 /><label for="hasVideo">Pokaż wideo na mojej stronie</label>
            </div>
            <div class="mb20 text-center">
                <label for="videoUrl">Adres filmu Youtube:</label><input class="form-control" type="text" id="videoUrl"
                <% if(info.hasVideo) { %>
                value='<%- info.videoUrl %>'
                <% } %>
                 />
                <button id="saveVideo">Zapisz</button>
            </div>
        </div>
    <% } else if(info.hasVideo) { %>
        <div class="container pt90 clearfix mb90">
            <div class="title-heading1 mb0 mr-auto ml-auto clearfix">
                <h3 id="trainings">Poznajmy się bliżej</h3>
            </div>
            <% 
            function youtube_parser(url){
                if(!url){
                    return null;
                }
                var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
                var match = url.match(regExp);
                return (match&&match[7].length==11)? match[7] : false;
            }

            let videoId = youtube_parser(info.videoUrl);
             %>
             <% if(videoId){ %>
                <div class="mb20 text-center">
                    <iframe src="https://www.youtube.com/embed/<%- videoId %>?rel=0&amp;showinfo=0" 
                    style="width:100%;height:100%;max-width: 700px;min-height: 400px;text-align: center;" frameborder="0" allowfullscreen=""></iframe>
                </div>
             <% } else { %>
                <h3 style="color: red;font-weight: bold;text-align: center;">Błąd ładowania video, prosimy skontaktować się z administracją fitelio.pl.</h3>
             <% }  %>            
        </div>
    <% } %>

    <% if(info.isTrainer){ %>
    <div class="pt40 pb20 bg-faded-gray" id='trainings'>
        <div class="container">
            <div class="title-heading1 mb0 mr-auto ml-auto clearfix">
                <h3 class="">Trening personalny</h3>
            </div>
        </div>
    </div>
    <div class="lists-container pb20 pt20 bg-faded-gray" id='trainings'>
        <div class="container">
            <div style="padding-left: 50px;padding-right: 50px;">
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="font200">Moja specjalizacja:</h3>
                        <ul class="" data-check-list="trainingSpecialization">
                            <% checkingItemsHelper(trainFields, trainNames); %>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <h3 class="font200">W czym mogę Ci pomóc:</h3>
                        <ul class="" data-check-list="trainingHelp">
                            <% checkingItemsHelper(trainHelpFields, trainHelpNames); %>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <h3 class="font200">Gdzie trenuję?</h3>
                        <p class="lead text-left mb0">
                            <% if(isEditMode){ %>
                                <input type="hidden" id="city-num" value="<%- info.city %>">
                                <select data-city-edit>
                                    <option value="1">Warszawa</option>
                                    <option value="2">Kraków</option>
                                    <option value="3">Łódź</option>
                                    <option value="4">Wrocław</option>
                                    <option value="5">Poznań</option>
                                    <option value="6">Gdańsk</option>
                                    <option value="7">Szczecin</option>
                                </select>
                            <% } else { %>
                                <span>
                                    <% let cityName = ["", "Warszawa", "Kraków", "Łódź", "Wrocław", "Poznań", "Gdańsk", "Szczecin"][info.city]; %>
                                    <%- cityName %>
                                </span>
                            <% } %>
                        </p>
                        <ul class="" data-edit-list="trainPlaces">
                            <% if(typeof info.trainPlaces == 'object') for(let i = 0; i < info.trainPlaces.length; i++) {%>
                                <li><%- info.trainPlaces[i] %></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pt20 pb40 bg-faded-gray">
        <div class="container">            
        
            <% if(!trainPlans || !trainPlans.length) {%>
                <h3 style="color:red;">Błąd ładowania planów treningowych.</h3>
            <% } else {%>
            <% 
                let maxPointsCount = 0;
                for(let i = 0; i < trainPlans.length; i++) {
                    const pointsCount = (trainPlans[i].description || '').split(/\n/).length;
                    if(maxPointsCount < pointsCount){
                        maxPointsCount = pointsCount;
                    }
                }
            %>
            <div class="pricing-table pt20 align-items-center">
                <% for(let i = 0; i < trainPlans.length; i++) {%>
                    <% let plan = trainPlans[i]; %>
                    <div class="col-lg-4 col-md-4 plan <%- plan.isRecomended ? 'popular-plan':'' %>  wow fadeInUp"  data-wow-delay=".<%- i+1 %>s">
                        <form action="/addItemToCart" method="POST">
                            <input type="hidden" name="trainingPlan" value="<%- plan.id %>">
                            <div class="plan-header">
                                <% if(plan.isRecomended) {%>
                                    <div class="mb30"><span class="badge badge-primary">Best Value</span></div>
                                <% } %>
                                <h4 data-price-title><span><%- plan.name || "--podaj nazwę--" %></span></h4>
                                <h1 class="<%- plan.isRecomended ? 'text-primary':'text-info' %>"><span data-train-price-edit=''><%- plan.price %></span><sup>zł</sup></h1>
                            </div>
                            <button type="submit" class="btn <%- plan.isRecomended ? 'btn-primary':'btn-secondary' %> btn-lg btn-block">Dodaj do koszyka</button>
                            <ul class="list-unstyled" data-train-features-list data-edit-list>
                                <li data-omit-edit>
                                   <i class="far fa-check-circle"></i> Treningów w cenie: <strong data-train-count-edit><%- plan.trainsCount %></strong>
                                </li>
                                <% const features = (plan.description || '').split(/\n/); %>
                                <% for(let k = 0; k < features.length; k++) {%>
                                    <% if(features[k].trim()) {%>
                                    <li><i class="far fa-check-circle"></i> <%- features[k] %> </li>
                                    <% } %>
                                <% } %>

                                <% if(!isEditMode) for(let k = 0; k < maxPointsCount - features.length; k++) {%>
                                <li class='empty-point'>
                                    &nbsp;
                                </li>
                                <% } %>
                            </ul>
                        </form>
                    </div>
                <% } %>
            </div> 
            <h4 class="mb40 mt-20 text-left">Zadzwoń, zapytaj o dostępność terminów: <a data-hint href="tel:<%- info.user.phone %>"><%- info.user.phone %> <i class="ti-mobile"></i></a> </h4>
        </div>  

        <% if(info.isTrainingsPromoCodesEnabled || isEditMode){ %>
        <div class="bg-faded-gray pt20 pb20">
            <div class="container">
                <div class="clearfix text-center train-plan-promo-codes-block mb10" style="<% if(!info.isTrainingsPromoCodesEnabled){ %>display: none;<% } %>">
                    <form action="/usePromoCode" method="POST">
                        <input type="hidden" name="isTraining" value="true">
                        <input type="hidden" name="trainer" value="<%= info.user.id %>">
                        <div class="row">
                            <div class="col-lg-5 min-height">
                                
                            </div>
                            <div class="col-lg-4 pt10 mb20">
                                <input type="text" class='form-control' required placeholder="Wpisz kod rabatowy" name="promoCode" />
                            </div>
                            <div class="col-lg-3">
                                <button type="submit" 
                                class="btn btn-lg btn-primary pull-right">Zrealizuj kod rabatowy</button>  
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% } %>

        <% } %>       
    </div> 

    <div class="pt20 pb20 bg-faded-gray">
        <div class="container">
            <div class="title-heading1 mb20 mr-auto ml-auto clearfix">
                <h3 class="">Jak to działa?</h3>
            </div>
        </div>
    </div>


    <div class="bg-faded-gray pb40 how-it-works">
        <div style="padding-left: 100px;padding-right: 100px;" class="container pt20 pb20 clearfix">
            <div class="row">
                <div class="col-md-4">
                    <div class="media">
                        <div class="d-flex mr-3">
                           <i class="btn-outline-primary icon-border icon-border-sm text-bold">1</i>  
                        </div>
                        <div class="media-body">
                            <h4 class="mt-0 mb10 lead">Wykupujesz pakiet<br/>treningów</h4>
                            Zadzwoń, porozmawiajmy. Powiesz mi czego szukasz, wspólnie zastanowimy się czy potrafię Ci pomóc.
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="media">
                        <div class="d-flex mr-3">
                           <i class="btn-outline-primary icon-border icon-border-sm text-bold">2</i>  
                        </div>
                        <div class="media-body">
                            <h4 class="mt-0 mb10 lead">Otrzymujesz dostęp<br/>do panelu klienta</h4>
                            W panelu wypełniasz szczegółową ankietę, zarządzasz kalendarzem treningów a także komunikujesz się ze mną.
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="media">
                        <div class="d-flex mr-3">
                           <i class="btn-outline-primary icon-border icon-border-sm text-bold">3</i>  
                        </div>
                        <div class="media-body">
                            <h4 class="mt-0 mb10 lead">Wspólnie ćwiczymy<br/>w wybranym miejscu</h4>
                            Umawiamy się na konkretną godzinę i dajemy z siebie wszystko!
                        </div>
                    </div>
                </div>
            </div>
            <a href="/#trainings-info" class="btn btn-primary pull-right">Dowiedz się więcej</a>
        </div>
    </div>
    
    <% } %>
    <% if(info.isFeedCounsultant){ %>

    <div class="pt40 pb20" id="feedPlans">
        <div class="container">
            <div class="title-heading1 mb0 mr-auto ml-auto clearfix">
                <h3 class="">Doradztwo dietetyczne</h3>
            </div>  
        </div>
    </div>

    <div class="lists-container pt0 pb20">
        <div class="container">
            <h3 class="center-title mb10 h1 text-left"></h3>
            <div style="padding-left: 50px;padding-right: 50px;">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="font200">Moja specjalizacja:</h3>
                        <ul class="" data-check-list="feedSpecialization">
                            <% checkingItemsHelper(feedFields, feedNames); %>
                        </ul>
                    </div>

                    <div class="col-sm-6">
                        <h3 class="font200">W czym mogę Ci pomóc:</h3>
                        <ul class="" data-check-list="feedHelp">
                            <% checkingItemsHelper(feedHelpFields, feedHelpNames); %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pt20 pb20 mb40">
        <div class="container">
            <div class="title-heading1 mb20 mr-auto ml-auto clearfix">
                <h3 class="">Wybierz swój pakiet</h3>
            </div>            
            <p class="lead mb0 text-center">Określ przez ile tygodni będziemy razem współpracować.</p>
        </div>
    </div>

    <div class="">
        <div class="container">     
            
        </div>        
        <form action="/addItemToCart" method="POST">
            <div style="padding-left: 100px;padding-right: 100px;">
                <div class="container feed-plans">
                    <div class="row feed-header">
                        <div class="col-xs-4 col-sm-4"> &nbsp; </div>
                        <div class="col-xs-4 col-sm-4">
                            <label>Okres</label>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <label>Cena</label>
                        </div>
                    </div>
                    <% for(let i = 0; i < feedPlans.filter(fp => !fp.isFreeSample).length; i++) {%>
                        <% let plan = feedPlans[i].toJSON(); %>
                        <div class="row feed-item">
                            <div class="col-xs-4  col-sm-4 feed-cell">
                                <div class="feed-checkbox">
                                    <label class="custom-control custom-radio">
                                        <input name="feedPlan" type="radio" value="<%- plan.id %>" 
                                            <% if(i === 2) {%>
                                                checked='checked'
                                            <% } %>
                                            class="custom-control-input"/>
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>                            
                            </div>
                            <div class="col-xs-4  col-sm-4 feed-cell">
                                <h3 class='feed-title'><%- plan.weeks %> <%- plan.word %></h3>
                            </div>
                            <div class="col-xs-4  col-sm-4 feed-cell">
                                <div class="col-md-12 feed-price"><span data-feed-price-edit><%- plan.price %></span> zł</div>
                            </div>
                        </div>
                    <% } %>
                </div>
                <div class="container pb30">
                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-outline-info btn-lg pull-right">Dodaj do koszyka</button>
                        </div>
                    </div>
                </div>
            </div> 
        </form>
        <% if(info.isFeedPlansPromoCodesEnabled || isEditMode){ %>
        <div class="pb40">
            <div class="container">
                <div class="clearfix text-center feed-plan-promo-codes-block mb10" style="<% if(!info.isFeedPlansPromoCodesEnabled){ %>display: none;<% } %>">
                    <form action="/usePromoCode" method="POST">
                        <input type="hidden" name="isFeedPlan" value="true">
                        <input type="hidden" name="trainer" value="<%= info.user.id %>">
                        <div class="row">
                            <div class="col-lg-5 min-height">
                                
                            </div>
                            <div class="col-lg-4 pt10 mb20">
                                <input type="text" class='form-control' placeholder="Wpisz kod rabatowy" name="promoCode" />
                            </div>
                            <div class="col-lg-3">
                                <button type="submit" 
                                class="btn btn-lg btn-primary pull-right">Zrealizuj kod rabatowy</button>  
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% } %>

        <% if(info.isFreeTrainingEnabled || isEditMode){ %>
        <div class="bg-faded-gray pt20 pb20">
            <div class="container">
                <div class="clearfix text-center free-sample-block mb10" style="<% if(!info.isFreeTrainingEnabled){ %>display: none;<% } %>">
                    <form action="/addItemToCart" method="POST">
                        <div class="row">
                            <div class="col-sm-8">
                                <div>
                                    <% if(!isUsedFreeSample){ %>
                                        <input type="hidden" name="feedPlan" value="<%- feedPlans.filter(fp => fp.isFreeSample)[0].id %>">
                                    <% } %>
                                    <p class="lead text-bold">Wypróbuj pierwszą konsultację <span class="text-primary">zupełnie za darmo</span>.</p>
                                    <p class="">Otwórz konto, oznacz swoje cele, wypełnij pierwszy dzień swojego dziennika dietetycznego a ja specjalnie dla Ciebie opracuję analizę oraz zestaw wstępnych zaleceń.</p>
                                </div>        
                            </div>
                            <div class="col-sm-4 pt40">
                                <button type="submit" 
                                <% if(info.isUsedFreeSample){ %> disabled="disabled" <% } %>
                                class="btn btn-lg
                                <% if(info.isUsedFreeSample){ %> btn-disabled <% } else { %> btn-primary <% } %>
                                ">Chcę wypróbować</button>  
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% } %>
        
    </div>

    <div class="pt40 pb20">
        <div class="container">
            <div class="title-heading1 mb0 mr-auto ml-auto clearfix">
                <h3 class="">Jak to działa?</h3>
            </div>  
        </div>
    </div>

       
    <div class="container pt0 pb40 clearfix how-it-works">
        <div style="padding-left: 100px;padding-right: 100px;">
            <div class="row pb40">
                <div class="col-sm-6">
                    <div class="media">
                        <div class="d-flex mr-3">
                           <i class="btn-outline-primary icon-border icon-border-sm text-bold">1</i>  
                        </div>
                        <div class="media-body">
                            <h4 class="mt-0 mb10 lead">Wybierasz odpowiedni<br/>pakiet konsultacji</h4>
                            Wybierasz okres jaki Ciebie najbardziej interesuje. Zauważ, że im dłuższy okres tym większa szansa na zrealizowanie wyznaczonych celów.      
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="media">
                        <div class="d-flex mr-3">
                           <i class="btn-outline-primary icon-border icon-border-sm text-bold">2</i>  
                        </div>
                        <div class="media-body">
                            <h4 class="mt-0 mb10 lead">Otrzymujesz dostęp<br/>do panelu klienta</h4>
                            W panelu wypełniasz szczegółową ankietę, gdzie określasz swój aktualny stan a także definiujesz cele jakie masz zamiar ze mną osiągnąć.     
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb20">
                <div class="col-sm-6">
                    <div class="media">
                        <div class="d-flex mr-3">
                           <i class="btn-outline-primary icon-border icon-border-sm text-bold">3</i>  
                        </div>
                        <div class="media-body">
                            <h4 class="mt-0 mb10 lead">Codziennie dostarczasz<br/>mi informacji</h4>
                            W panelu uzupełniasz dane na temat Twojej aktywności oraz szczegółowo przekazujesz informacje na temat każdego posiłku tego dnia.     
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="media">
                        <div class="d-flex mr-3">
                           <i class="btn-outline-primary icon-border icon-border-sm text-bold">4</i>  
                        </div>
                        <div class="media-body">
                            <h4 class="mt-0 mb10 lead">Wspólnie prowadzimy Cię<br/>do wytyczonego celu</h4>
                            Codziennie otrzymujesz ode mnie informację zwrotną na temat Twojej aktywności oraz odżywiania.Dzięki dogłębnej analizie Twoich danych będę w stanie pomóc Ci osiągnąć Twój cel.
                        </div>
                    </div>
                </div>
            </div>
            <a href="/#howItWorks" class="btn btn-primary pull-right">Dowiedz się więcej</a>
        </div>
    </div>
    
    <% } %>
</section>

<% include ./partials/contact %>

<script type="text/javascript" src="/assan/js/plugins/plugins.js"></script> 
<script type="text/javascript" src="/assan/js/assan.custom.js"></script>

<script type="text/javascript" src="/assan/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<script>
    function initPhotos(){
        <% if(isEditMode){ %>
        $('.cbp-item button').remove();
        $('.cbp-item').append('<button class="remove-cbp">X</button>');
        <% } %>

        $('#js-grid-lightbox-gallery2').cubeportfolio({
            layoutMode: 'grid',
            defaultFilter: '*',
            animationType: 'flipOutDelay',
            gapHorizontal: 15,
            gapVertical: 15,
            gridAdjustment: 'responsive',
            displayType: 'sequentially',
            displayTypeSpeed: 100,
            // lightbox
            lightboxDelegate: '.cbp-lightbox',
            lightboxGallery: true,
            lightboxTitleSrc: 'data-title',
            lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} z {{total}}</div>'
        });
    }

    function initCertificates(){
        <% if(isEditMode){ %>
        $('.cbp-item button').remove();
        $('.cbp-item').append('<button class="remove-cbp">X</button>');
        <% } %>

        // init cubeportfolio
        $('#js-grid-lightbox-gallery').cubeportfolio({
            layoutMode: 'grid',
            defaultFilter: '*',
            animationType: 'flipOutDelay',
            gapHorizontal: 15,
            gapVertical: 15,
            gridAdjustment: 'responsive',
            displayType: 'sequentially',
            displayTypeSpeed: 100,
            // lightbox
            lightboxDelegate: '.cbp-lightbox',
            lightboxGallery: true,
            lightboxTitleSrc: 'data-title',
            lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} z {{total}}</div>'
        });
    }

    //projects
    (function ($, window, document, undefined) {
        'use strict';

        initCertificates();
        initPhotos();

        $('body').on('click','.more-items',function(){
            var me = $(this);
            me.siblings().show();
            var lastItem = me.siblings().last();
            lastItem.css('left', me.css('left'));
            lastItem.css('top', me.css('top'));
            me.hide();
        });
    })(jQuery, window, document);
</script>

<% if(isEditMode){ %>
<script type="text/javascript" src="/js/trainerEdit.js"></script>
<% } %>