<% include ./partials/trainerFields %>

<% function checkingItemsHelper(keys, names){
    if(keys.length != names.length){
        throw new Error('Names and keys collections must match!');
    }
    for(let i = 0; i < keys.length; i++){ 
        let key = keys[i];
        let val = names[i]; 
        if(isEditMode){ %>
        <li data-field='<%- key %>' <% if(info[key]) {%> data-checked="checked" <% } %> ><%- val %></li>
    <%  }else{ %>
        <% if(info[key]) {%> <li><%- val %></li> <% } %>
    <%} 
    } 
} %>

<section class="site-wrapper" style="margin-top: 70px;overflow: hidden;">

    <% if(isEditMode){ %>
    <input type="hidden" name="info-id" id="info-id" value="<%- info.id %>" />
    <% } %>

    <div class="container no-padding resume-header bg-dark">
        <div class="row align-items-center">
            <div class="col-lg-6 no-padding">
                <img src="<%- info.user.profilePic || '/images/no_image_user.png' %>" alt="" class="img-fluid" data-hint />
            </div>  
        	<div class="col-lg-6 resume-header-text">
                <div class="clearfix">
                    <div class="media mb10 wow fadeInUp" data-wow-delay=".150ms">
                        <div class="media-body">
                        	<h2 class="h1 mb0" data-hint><%- info.user.name %></h2>
                            <p class="lead" data-hint>
                                <% if(info.isTrainer && info.isFeedCounsultant){ %>
                                Trener personalny, dietetyk
                                <% } else if(info.isTrainer){ %>
                                Trener personalny
                                <% } else if(info.isFeedCounsultant){ %>
                                Dietetyk
                                <% } else { %>
                                <b>Ustaw swoją specjalizację na stronie proiflu.</b>
                                <% } %>                            
                            </p>
                            <p class="mt-20 mb10 text-left trainer-about" style="min-height: 50px;" data-main-text><%- info.mainText || "Opis" %></p>
                        </div>
                    </div>
                    <div class="buttons media mb10 wow fadeInUp" data-wow-delay=".300ms">
                        <% if(info.isTrainer){ %>
                        <a href="#trainings" onclick="ScrollTo('trainings', event)" class="btn btn-primary btn-rounded">Zamów trening</a>
                        <% } if(info.isFeedCounsultant) { %>
                        <a href="#feedPlans" onclick="ScrollTo('feedPlans', event)" class="btn btn-light btn-rounded">Wykup konsultację</a>
                        <% } %>
                    </div>
                </div>
            </div>              
        </div>
    </div>

    <div class="container pb20 trainer-experience" style="padding: 40px;">
        <h3 class="text-primary center-title mb20 h2">Doświadczenie i kwalifikacje</h3>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h4 class="text-left"><i class="fas fa-user"></i> Specjalizacja</h4>
                <ul data-hint>
                    <li>Trener personalny</li>
                    <li>Dietetyk</li>
                </ul>

                <h4 class="text-left"><i class="fas fa-graduation-cap"></i> Wyszktałcenie, kursy, certyfikaty</h4>
                <ul data-edit-list="certificates">
                    <% if(info.certificates && (typeof info.certificates == 'object') ) for(let i = 0; i < info.certificates.length; i++) {%>
                        <li><%- info.certificates[i] %></li>
                    <% } %>
                </ul>
            </div>  
            <div class="col-lg-6">
                <div class="clearfix">
                    <h4 class="text-left"><i class="fas fa-trophy"></i> Osiągnięcia</h4>
                    <ul data-edit-list="achivements">
                        <% if(info.achivements && (typeof info.achivements == 'object') ) for(let i = 0; i < info.achivements.length; i++) {%>
                            <li><%- info.achivements[i] %></li>
                        <% } %>
                    </ul>
                </div>

                <div class="clearfix">
                    <h4 class="text-left"><i class="fas fa-certificate"></i> Certyfikaty</h4>
                    <% if(isEditMode){ %>
                        <button class="btn btn-primary btn-sm add-image">Dodaj</button>
                        <form id='cert-image-form' style='display:none;'>
                            <input type='file' name='file' id='newCertificate' 
                            accept="image/x-png,image/gif,image/jpeg" 
                            class="cert-image image-input" />
                        </form>
                    <% } %>
                    <div id="js-grid-lightbox-gallery" class="cbp certificates-gallery">
                        <%  let limitCert = info.certificateImages.length;
                            if(!isEditMode){
                                limitCert = 4;
                            }
                            let certLeft = info.certificateImages.length - limitCert;
                            for(let i = 0; i < limitCert; i++){
                         %>
                        <div class="cbp-item cbp-item-small">
                            <a href="<%- info.certificateImages[i] %>" class="cbp-caption cbp-lightbox" rel="nofollow">
                                <div class="">
                                    <img src="<%- info.certificateImages[i] %>" alt="">
                                </div>
                            </a>
                        </div>
                         <% } %>

                        <% if(certLeft > 0){ %>                     
                        <div class="more-items cbp-item cbp-item-small">
                            +<%- certLeft %>      
                        </div>
                        <% } %>

                        <%  
                            for(let i = limitCert; i < info.certificateImages.length; i++){
                         %>
                        <div class="cbp-item cbp-item-small" style="display: none;">
                            <a href="<%- info.certificateImages[i] %>" class="cbp-caption cbp-lightbox" rel="nofollow">
                                <div class="">
                                    <img src="<%- info.certificateImages[i] %>" alt="">
                                </div>
                            </a>
                        </div>
                         <% } %>
                    </div>
                </div>

                <div class="clearfix">
                    <h4 class="text-left"><i class="fas fa-camera-retro"></i> Zdjęcia</h4>                  
                    
                    <% if(isEditMode){ %>
                        <button class="btn btn-primary btn-sm add-image">Dodaj</button>
                        <form id='cert-image-form' style='display:none;'>
                            <input type='file' name='file' id='newCertificate' 
                            accept="image/x-png,image/gif,image/jpeg" 
                            class="cert-image image-input" />
                        </form>
                    <% } %>

                     <div id="js-grid-lightbox-gallery2" class="cbp photos-gallery">

                     <%  let limitPhotos = info.photos.length;
                            if(!isEditMode){
                                limitPhotos = 4;
                            }
                            let photosLeft = info.photos.length - limitPhotos;
                            for(let i = 0; i < limitPhotos; i++){
                         %>
                        <div class="cbp-item cbp-item-small">
                            <a href="<%- info.photos[i] %>" class="cbp-caption cbp-lightbox" rel="nofollow">
                                <div class="">
                                    <img src="<%- info.photos[i] %>" alt="">
                                </div>
                            </a>
                        </div>
                         <% } %>

                        <% if(photosLeft > 0){ %>                     
                        <div class="more-items cbp-item cbp-item-small">
                            +<%- photosLeft %>      
                        </div>
                        <% } %>

                        <%  
                            for(let i = limitPhotos; i < info.photos.length; i++){
                         %>
                        <div class="cbp-item cbp-item-small" style="display: none;">
                            <a href="<%- info.photos[i] %>" class="cbp-caption cbp-lightbox" rel="nofollow">
                                <div class="">
                                    <img src="<%- info.photos[i] %>" alt="">
                                </div>
                            </a>
                        </div>
                         <% } %>
                    </div>
                </div>
            </div>              
        </div>
    </div>
    <% if(info.isTrainer){ %>
    <div class="container lists-container pt20 pb20 bg-dark" id='trainings'>
        <h3 class="text-primary center-title mb10 h1 text-left">Trening personalny</h3>
        <div style="padding-left: 50px;padding-right: 50px;">
            <div class="row">
                <div class="col-sm-4">
                    <h3 class="font100 text-primary">Moja specjalizacja:</h3>
                    <ul class="text-white-gray" data-check-list="trainingSpecialization">
                        <% checkingItemsHelper(trainFields, trainNames); %>
                    </ul>
                </div>

                <div class="col-sm-4">
                    <h3 class="font100 text-primary">W czym mogę Ci pomóc:</h3>
                    <ul class="text-white-gray" data-check-list="trainingHelp">
                        <% checkingItemsHelper(trainHelpFields, trainHelpNames); %>
                    </ul>
                </div>

                <div class="col-sm-4">
                    <h3 class="font100 text-primary">Gdzie trenuję?</h3>
                    <p class="lead text-white-gray text-left mb0">
                        <% if(isEditMode){ %>
                            <input type="hidden" id="city-num" value="<%- info.city %>">
                            <select data-city-edit>
                                <option value="1">Warszawa</option>
                                <option value="2">Kraków</option>
                                <option value="3">Łódź</option>
                                <option value="4">Wrocław</option>
                                <option value="5">Poznań</option>
                                <option value="6">Gdańsk</option>
                                <option value="7">Szczecin</option>
                            </select>
                        <% } else { %>
                            <span>
                                <% let cityName = ["", "Warszawa", "Kraków", "Łódź", "Wrocław", "Poznań", "Gdańsk", "Szczecin"][info.city]; %>
                                <%- cityName %>
                            </span>
                        <% } %>
                    </p>
                    <ul class="text-white-gray" data-edit-list="trainPlaces">
                        <% if(typeof info.trainPlaces == 'object') for(let i = 0; i < info.trainPlaces.length; i++) {%>
                            <li><%- info.trainPlaces[i] %></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt40 pb20 clearfix">
        <h3 class="text-primary center-title mb40 h1 text-left">Jak to działa?</h3>
        <div style="padding-left: 100px;padding-right: 100px;">
            <div class="row text-center">
                <div class="col-sm-4">
                    <p class="lead text-bold">Wykupujesz pakiet treningów</p>
                    <p>Zadzwoń, porozmawiajmy. Powiesz mi czego szukasz, wspólnie zastanowimy się czy potrafię Ci pomóc.</p>
                </div>

                <div class="col-sm-4">
                    <p class="lead text-bold">Otrzymujesz dostęp do panelu klienta</p>
                    <p>W panelu wypełniasz szczegółową ankietę, zarządzasz kalendarzem treningów a także komunikujesz się ze mną.</p>
                </div>

                <div class="col-sm-4">
                    <p class="lead text-bold">Wspólnie ćwiczymy w wybranym miejscu</p>
                    <p>Umawiamy się na konkretną godzinę i dajemy z siebie wszystko!</p>
                </div>
            </div>
            <a href="/#trainings-info" class="btn btn-primary pull-right">Dowiedz się więcej</a>
        </div>
    </div>

    <div class="container pt40">
        <h4 class="mb40 mt-20 text-left">Zadzwoń, zapytaj o dostępność terminów: <a data-hint href="tel:<%- info.user.phone %>"><%- info.user.phone %> <i class="ti-mobile"></i></a> </h4>
        <% if(!trainPlans || !trainPlans.length) {%>
            <h3 style="color:red;">Błąd ładowania planów treningowych.</h3>
        <% } else {%>
        <div class="row">
            <% 
                let maxPointsCount = 0;
                for(let i = 0; i < trainPlans.length; i++) {
                    const pointsCount = (trainPlans[i].description || '').split(/\n/).length;
                    if(maxPointsCount < pointsCount){
                        maxPointsCount = pointsCount;
                    }
                }
            %>

            <% for(let i = 0; i < trainPlans.length; i++) {%>
                <% let plan = trainPlans[i]; %>
                <div class="col-sm-4 mb40 wow fadeInUp" data-wow-delay=".<%- i+1 %>s">
                    <form action="/addItemToCart" method="POST">
                        <input type="hidden" name="trainingPlan" value="<%- plan.id %>">
                        <div class="pricing-card <%- plan.isRecomended ? 'active':'' %>">                            
                            <header class="pricing-header clearfix">
                                <div class="price-title" data-price-title><span><%- plan.name || "--podaj nazwę--" %></span></div>
                                <div class="float-right price">
                                    <% if(plan.priceOld || isEditMode) {%>
                                    <span class='old-price' <% if(!plan.priceOld) {%> style="opacity:0.3;" <% } %> ><strike data-train-price-edit='Old'><%- plan.priceOld || 0 %></strike> <sup>zł</sup></span>
                                    <% } %>
                                    <span data-train-price-edit=''><%- plan.price %></span><sup>zł</sup>
                                </div>                                
                            </header>
                            <div class="pricing-features">
                                <ul class="list-unstyled" data-train-features-list data-edit-list>
                                    <li data-omit-edit>
                                       Treningów w cenie: <b data-train-count-edit><%- plan.trainsCount %></b>
                                    </li>
                                    <% const features = (plan.description || '').split(/\n/); %>
                                    <% for(let k = 0; k < features.length; k++) {%>
                                        <% if(features[k].trim()) {%>
                                        <li>
                                            <%- features[k] %>   
                                        </li>
                                        <% } %>
                                    <% } %>

                                    <% if(!isEditMode) for(let k = 0; k < maxPointsCount - features.length; k++) {%>
                                    <li class='empty-point'>
                                        &nbsp;
                                    </li>
                                    <% } %>
                                </ul>                              
                            </div><!--pricing features-->
                            <footer class="pricing-footer text-center">                                    
                                <button class="btn btn-outline-info">Dodaj do koszyka</button>
                            </footer>
                        </div><!--/pricing card-->
                    </form>
                </div>
            <% } %>
        </div>       
        <% } %>       
    </div> 
    <% } %>
    <% if(info.isFeedCounsultant){ %>
    <div class="container lists-container pt20 pb20 bg-dark" id="feedPlans">
        <h3 class="text-primary center-title mb10 h1 text-left">Doradztwo żywieniowe</h3>
        <div style="padding-left: 50px;padding-right: 50px;">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="font100 text-primary">Moja specjalizacja:</h3>
                    <ul class="text-white-gray" data-check-list="feedSpecialization">
                        <% checkingItemsHelper(feedFields, feedNames); %>
                    </ul>
                </div>

                <div class="col-sm-6">
                    <h3 class="font100 text-primary">W czym mogę Ci pomóc:</h3>
                    <ul class="text-white-gray" data-check-list="feedHelp">
                        <% checkingItemsHelper(feedHelpFields, feedHelpNames); %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
       
    <div class="container pt40 pb20 clearfix">
        <h3 class="text-primary center-title mb40 h1 text-left">Jak to działa?</h3>
        <div style="padding-left: 100px;padding-right: 100px;">
            <div class="row text-center pb20">
                <div class="col-sm-6">
                    <p class="lead text-bold">Wybierasz odpowiedni pakiet konsultacji</p>
                    <p>Wybierasz okres jaki Ciebie najbardziej interesuje. Zauważ, że im dłuższy okres tym większa szansa na zrealizowanie wyznaczonych celów. </p>
                </div>

                <div class="col-sm-6">
                    <p class="lead text-bold">Otrzymujesz dostęp do panelu klienta</p>
                    <p>W panelu wypełniasz szczegółową ankietę, gdzie określasz swój aktualny stan a także definiujesz cele jakie masz zamiar ze mną osiągnąć.</p>
                </div>
            </div>
            <div class="row text-center pb20">
                <div class="col-sm-6">
                    <p class="lead text-bold">Codziennie dostarczasz mi informacji</p>
                    <p>W panelu uzupełniasz dane na temat Twojej aktywności oraz szczegółowo przekazujesz informacje na temat każdego posiłku tego dnia.</p>
                </div>

                <div class="col-sm-6">
                    <p class="lead text-bold">Wspólnie prowadzimy Cię do wytyczonego celu</p>
                    <p>Codziennie otrzymujesz ode mnie informację zwrotną na temat Twojej aktywności oraz odżywiania.Dzięki dogłębnej analizie Twoich danych będę w stanie pomóc Ci osiągnąć Twój cel.</p>
                </div>
            </div>
            <a href="/#howItWorks" class="btn btn-primary pull-right">Dowiedz się więcej</a>
        </div>
    </div>

    <div class="container">
        <h3 class="text-primary center-title mb40 h1 text-left">Doradztwo dietetyczne</h3>        
        <% if(info.isFreeTrainingEnabled || isEditMode){ %>
        <div class="clearfix free-sample-block mb40" style="padding-left: 100px;padding-right: 100px;  
        <% if(!info.isFreeTrainingEnabled){ %>display: none;<% } %>">
            <form action="/addItemToCart" method="POST">
                <% if(!isUsedFreeSample){ %>
                    <input type="hidden" name="feedPlan" value="<%- feedPlans.filter(fp => fp.isFreeSample)[0].id %>">
                <% } %>
                <p class="lead">Wypróbuj pierwszą konsultację zupełnie za darmo.</p>
                <p>Otwórz konto, oznacz swoje cele, wypełnij pierwszy dzień swojego dziennika żywieniowego a ja specjalnie dla Ciebie opracuję analizę oraz zestaw wstępnych zaleceń.</p>
                <button type="submit" 
                <% if(info.isUsedFreeSample){ %> disabled="disabled" <% } %>
                class="btn 
                <% if(info.isUsedFreeSample){ %> btn-disabled <% } else { %> btn-primary <% } %>
                pull-right">Chcę wypróbować</button>
            </form>
        </div>
        <% } %>
        <p class="lead mb40">Zakup diety - określ przez ile tygodni chcesz ze mną współpracować</p>
        <form action="/addItemToCart" method="POST">
            <div style="padding-left: 100px;padding-right: 100px;">
                <div class="container feed-plans">
                    <div class="row feed-header">
                        <div class="col-xs-4 col-sm-4"> &nbsp; </div>
                        <div class="col-xs-4 col-sm-4">
                            <label>Okres</label>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <label>Cena</label>
                        </div>
                    </div>
                    <% for(let i = 0; i < feedPlans.filter(fp => !fp.isFreeSample).length; i++) {%>
                        <% let plan = feedPlans[i]; let word = 'tygodni'; %>
                        <% if(plan.weeks < 6){word = 'tygodnie';} %>
                        <% if(plan.weeks == 1){word = 'tydzień';} %> 
                        <div class="row feed-item">
                            <div class="col-xs-4  col-sm-4 feed-cell">
                                <div class="feed-checkbox">
                                    <label class="custom-control custom-radio">
                                        <input name="feedPlan" type="radio" value="<%- plan.id %>" 
                                            <% if(i === 2) {%>
                                                checked='checked'
                                            <% } %>
                                            class="custom-control-input"/>
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>                            
                            </div>
                            <div class="col-xs-4  col-sm-4 feed-cell">
                                <h3 class='feed-title'><%- plan.weeks %> <%- word %></h3>
                            </div>
                            <div class="col-xs-4  col-sm-4 feed-cell">
                                <div class="col-md-12 feed-price"><span data-feed-price-edit><%- plan.price %></span> zł</div>
                            </div>
                        </div>
                    <% } %>
                </div>
                <div class="container pb30">
                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-outline-info btn-lg pull-right">Dodaj do koszyka</button>
                        </div>
                    </div>
                </div>
            </div> 
        </form>
    </div>
    <% } %>
</section>

<% include ./partials/contact %>

<script type="text/javascript" src="/assan/js/plugins/plugins.js"></script> 
<script type="text/javascript" src="/assan/js/assan.custom.js"></script>

<script type="text/javascript" src="/assan/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<script>
    function initPhotos(){
        <% if(isEditMode){ %>
        $('.cbp-item button').remove();
        $('.cbp-item').append('<button class="remove-cbp">X</button>');
        <% } %>

        $('#js-grid-lightbox-gallery2').cubeportfolio({
            layoutMode: 'grid',
            defaultFilter: '*',
            animationType: 'flipOutDelay',
            gapHorizontal: 15,
            gapVertical: 15,
            gridAdjustment: 'responsive',
            displayType: 'sequentially',
            displayTypeSpeed: 100,
            // lightbox
            lightboxDelegate: '.cbp-lightbox',
            lightboxGallery: true,
            lightboxTitleSrc: 'data-title',
            lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} z {{total}}</div>'
        });
    }

    function initCertificates(){
        <% if(isEditMode){ %>
        $('.cbp-item button').remove();
        $('.cbp-item').append('<button class="remove-cbp">X</button>');
        <% } %>

        // init cubeportfolio
        $('#js-grid-lightbox-gallery').cubeportfolio({
            layoutMode: 'grid',
            defaultFilter: '*',
            animationType: 'flipOutDelay',
            gapHorizontal: 15,
            gapVertical: 15,
            gridAdjustment: 'responsive',
            displayType: 'sequentially',
            displayTypeSpeed: 100,
            // lightbox
            lightboxDelegate: '.cbp-lightbox',
            lightboxGallery: true,
            lightboxTitleSrc: 'data-title',
            lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} z {{total}}</div>'
        });
    }

    //projects
    (function ($, window, document, undefined) {
        'use strict';

        initCertificates();
        initPhotos();

        $('body').on('click','.more-items',function(){
            var me = $(this);
            me.siblings().show();
            var lastItem = me.siblings().last();
            lastItem.css('left', me.css('left'));
            lastItem.css('top', me.css('top'));
            me.hide();
        });
    })(jQuery, window, document);
</script>

<% if(isEditMode){ %>
<script type="text/javascript" src="/js/trainerEdit.js"></script>
<% } %>